<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkk.leave.mapper.CardMapper">
  <resultMap id="BaseResultMap" type="com.jkk.leave.entity.POJO.Card">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="money" jdbcType="VARCHAR" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from card
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from card
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jkk.leave.entity.POJO.Card">
    insert into card (user_id, money)
    values (#{userId,jdbcType=INTEGER}, #{money,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jkk.leave.entity.POJO.Card">
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkk.leave.entity.POJO.Card">
    update card
    <set>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkk.leave.entity.POJO.Card">
    update card
    set money = #{money,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>