.detail-card{
  height: 400px;
  padding: 20px;
}
.detail-card-header{
  flex: 1;
}
.content{
  flex: 7;
  position: relative;
  .tip{
    margin-top: 5px;
    color: #aaa;
    right: 0;
    font-size: 10px;
    position: absolute;
  }
}
.el-divider{
  margin: 0 0;
}